doctype html
html(lang="zh")
  head
    title 前端技术规范标准
    script(type='text/javascript').
      if (foo) bar(1 + 5)
    style
			body {
				font-family: Verdana;
				font-size: 13px;
				background: #eee;
			}
            
  body
    h1 Pug - node template engine
    #container.col
      if youAreUsingPug
        p You are amazing
      else
        p Get on it!
      p.
        Pug is a terse and simple templating language with a
        strong focus on performance and powerful features.